body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

section {
  background: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#competition-form {
  margin-top: 10px;
}

input[type="text"],
input[type="date"],
button {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  width: 100%;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #449d44;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.Competitions {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.Competitions li {
  background-color: #f2f2f2; /* Light grey background */
  border: 1px solid #ddd; /* Add a slight border */
  margin-bottom: 5px; /* Add some space between items */
  padding: 10px; /* Add some padding inside each item */
  border-radius: 5px; /* Optional: Add rounded corners */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.Competitions li:hover {
  background-color: #e9e9e9; /* Change background on hover */
}

.competition-name {
  font-size: 18px; /* Increase font size */
  color: #333; /* Dark grey color for the text */
  font-weight: bold; /* Make the competition name bold */
}


.back-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
.back-button:hover {
  background-color: #0056b3;
}